.home-head-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.home-head-img img {
    width: 100%;
    height: 100%;

}

.home-banner-media {
    display: none;
}

.home-products {
    text-align: center;
}

.home-products-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home-products-list-item {
    background-color: white;
border: 1px solid #000000;
padding: 10px;
border-radius: 30px;
width: auto;
box-shadow: rgba(0, 0, 0, 0.145) 0px 22px 70px 4px;
}

.home-products-list-item:hover {
transform: scale(1.08);
transition: all 0.2s ease-in-out;
}

.home-products-list-item button {
    padding: 4px 6px;
    font-size: 18px;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 10px;
    background-color: #be680d74;
}

.home-products-list-item img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.home-btn-link {
    text-decoration: none;
    color: #000000;
}

.main-footer {
    text-align: center;
    position: relative;
    margin-top: 50px;
    background-color: #be680d;
    padding: 10px;
    height: 250px;
}

.main-footer img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    left: 135px;
    position: absolute;
    margin-top: 25px;
}

.footer-icons{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 25px;
}

.footer-icons svg{
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 500px){
    .home-banner-web{
        display: none;
    }
    .home-banner-media{
        display: block;
        width: 100%;
        height: 100%;
    }

        .home-products-list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;    
            align-items: center;
            gap: 50px;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    
        .home-products-list-item {
            border: 1px solid #000000;
            padding: 10px;
            border-radius: 30px;
            width: 80%;
            box-shadow: rgba(0, 0, 0, 0.145) 0px 22px 70px 4px;
        }
    
        .home-products-list-item:hover {
            transform: scale(1.08);
            transition: all 0.2s ease-in-out;
        }
    
        .home-products-list-item button {
            padding: 4px 6px;
            font-size: 18px;
            border: 1px solid black;
            font-weight: bold;
            border-radius: 10px;
            background-color: #be680d74;
        }
    
        .home-products-list-item img {
            width: 250px;
            height: 250px;
            border-radius: 10px;
        }

.main-footer img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    left: 35px;
    position: absolute;
    margin-top: 25px;
}

.footer-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 25px;
}

.footer-icons svg {
    width: 25px;
    height: 25px;
}


}
