.home-head-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.home-head-img img {
    width: 100%;
    height: 100%;

}

.home-banner-media {
    display: none;
}

.home-products {
    text-align: center;
}

.home-best-header {
    margin-top: 50px;
    margin-bottom: 20px;
}

.home-products-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home-products-list-item {
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.145) 0px 22px 70px 4px;
}

.home-products-list-item:hover {
    transform: scale(1.08);
    transition: all 0.2s ease-in-out;
}

.home-products-list-item button {
    padding: 4px 6px;
    font-size: 18px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    background-color: #be680d74;
}

.home-products-list-item img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.home-btn-link {
    text-decoration: none;
    color: #000000;
}

.home-products-shop-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: black;
}

.home-products-shop-btn button {
    padding: 4px 6px;
    font-size: 25px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    background-color: #be680d9c;
    animation: hover 0.5s infinite ease-in-out;
    color: black;
}

@keyframes hover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.10);
    }

    100% {
        transform: scale(1);
    }
}

.main-footer {
    text-align: center;
    position: relative;
    margin-top: 50px;
    background-color: #be680d;
    padding: 10px;
    height: 250px;
}

.main-footer img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    left: 135px;
    position: absolute;
    margin-top: 25px;
}

.footer-icons {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 25px;
}

.footer-icons svg {
    width: 40px;
    height: 40px;
}

.products-header {
    text-align: center;
    margin-top: 50px;
}

.products-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 25px;
    text-align: center;
}

.products-add-btn-main {
    padding: 4px 8px;
    font-size: 18px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    background-color: #f3c89a74;
    color: black;
}

.products-add-form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.382);
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.products-add-form select {
    padding: 4px 6px;
    font-size: 18px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    background-color: #be680d74;
    color: black;
}

.products-file {
    padding: 4px 6px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    width: 70%;
    border-radius: 4px;
    background-color: #ffffff;
    border: 0.5px solid rgba(128, 128, 128, 0.382);
}

.products-add-form input {
    padding: 4px 6px;
    font-size: 18px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    background-color: #ffffff;
    border: 0.5px solid rgba(128, 128, 128, 0.382);
}

.products-add-btn {
    padding: 4px 6px;
    font-size: 18px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    background-color: #f3c89a74;
    color: black;
}

.products-cancel-btn {
    padding: 4px 6px;
    font-size: 18px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    background-color: #e911117d;
    color: rgb(0, 0, 0);
}

.products-new-category {
    display: block;
}

.category-products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-card {
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.145) 0px 22px 70px 4px;
}


.product-card:hover {
    transform: scale(1.08);
    transition: all 0.2s ease-in-out;
}

.product-card button {
    padding: 4px 6px;
    font-size: 18px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    background-color: #be680d74;
    color: black;
}

.product-card img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}



@media screen and (max-width: 500px) {
    .home-banner-web {
        display: none;
    }

    .home-banner-media {
        display: block;
        width: 100%;
        height: 100%;
    }

    .home-products-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin: 8px;
    }

    .home-products-list-item {
        margin-top: 20px;
        padding: 10px;
        border-radius: 30px;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.145) 0px 22px 70px 4px;
        font-size: 13px;
    }

    .home-products-list-item p {
        font-size: 15px;
    }

    .home-products-list-item:hover {
        transform: scale(1.0);
        transition: all 0.2s ease-in-out;
    }

    .home-products-list-item button {
        padding: 4px 6px;
        font-size: 12px;
        font-weight: bold;
        border-radius: 4px;
        background-color: #be680d74;
    }

    .home-products-list-item img {
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }

    .home-products-shop-btn button {
        padding: 4px 6px;
        font-size: 18px;
        border: none;
        font-weight: bold;
        border-radius: 4px;
        background-color: #be680d9c;
    }

    .main-footer {
        text-align: center;
        position: relative;
        margin-top: 50px;
        background-color: #be680d;
        padding: 10px;
        height: 250px;
    }

    .main-footer img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
        left: 35px;
        position: absolute;
        margin-top: 25px;
    }

    .footer-icons {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 25px;
    }

    .footer-icons svg {
        width: 25px;
        height: 25px;
    }

    .products-add-btn-main {
        font-size: 15px;
    }

    .products-add-form {
        gap: 10px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .products-add-form input,
    .products-add-form select,
    .products-add-form button,
    .products-cancel-btn {
        font-size: 15px;
    }

    .category-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 25px;
        margin-top: 40px;
        margin-bottom: 40px;
        margin: 5px;
    }

    .product-card {
        margin-top: 20px;
        padding: 8px;
        border-radius: 30px;
        width: 95%;
        box-shadow: rgba(0, 0, 0, 0.145) 0px 22px 70px 4px;
        font-size: 13px;
    }

    .product-card p {
        font-size: 18px;
    }

    .product-card button {
        padding: 4px 6px;
        font-size: 15px;
        border: none;
        font-weight: bold;
        border-radius: 4px;
        background-color: #be680d74;
    }

    .product-card img {
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }

    .product-card:hover {
        transform: scale(1.0);
        transition: all 0.2s ease-in-out;
    }


}