.navbar-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: #be690d;
    height: 10vh;
    box-shadow: 15px 30px 15px rgba(0, 0, 0, 0.1);
}

.navbar-main img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.navbar-main h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px 15px rgba(0, 0, 0, 2.0);
}

.navbar-links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}

.navbar-links a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}

.menu-icon {
    display: none;
}

.navbar-links a:hover {
    color: #ffffff;
    border-bottom: 2px solid #000000;
}

.menu-links {
    display: none;
}

.main-footer {
    text-align: center;
    position: relative;
    margin-top: 50px;
    background-color: #be680d;
    padding: 10px;
    height: 250px;
}

.main-footer img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    left: 135px;
    position: absolute;
    margin-top: 25px;
}

.footer-icons {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 25px;
}

.footer-icons svg {
    width: 40px;
    height: 40px;
}

.footer-copyright {
    margin-top: 50px;
}

@media screen and (max-width: 500px) {
    .navbar-links {
        display: none;
    }

    .menu-icon {
        display: block;
        width: 30px;
        height: 30px;
        margin-left: 40px;
    }

    .navbar-main img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    }

    .navbar-main h1 {
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-shadow: 4px 4px 15px rgba(0, 0, 0, 2.0);
    }

    .menu-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
        color: #000000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: #c87012;
        padding: 20px;
        box-shadow: 15px 30px 15px rgba(0, 0, 0, 0.1);
        transform: translateY(-100%);
        transition: all 0.5s ease-in-out;
    }

    .menu-links.active {
        transform: translateY(0);
    }

    .menu-links a {
        text-decoration: none;
        font-size: 22px;
        font-weight: 700;
        color: #000000;
    }

    .menu-links a:hover {
        color: #ffffff;
    }

    .close-icon {
        display: block;
        position: fixed;
        top: 20px;
        right: 70px;
        width: 40px;
        height: 40px;
        margin-left: 40px;
    }

    .main-footer img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
        left: 35px;
        position: absolute;
        margin-top: 25px;
    }

    .footer-icons {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 25px;
    }

    .footer-icons svg {
        width: 25px;
        height: 25px;
    }
}